html {height: 100%;}

body {
	font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
	color: black;
	background-color: white;
	height: 100%;
	min-width: 480px;
	min-height: 400px;

}
.msg_header {
  color : black;
  font-size: 40px;
  font-weight: bold;
}
.ui-selectmenu-text {
  font-size: 12px !important;
}
.ui-button,  .ui-button-text .ui-button {
  font-size: 12px !important;
}

.my-textfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: text;
    width:100%;
}

size_10 {
	font-size:10px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%!important;
}

#codemirror_div{
  background-color: white;
  height: auto;
  height: 100%;
	width:100%;
  border: 2px grey solid;
}

.modalDialog {
    background:white;
    float:left;
   	display: block;
   	height:auto;
   	min-width:72px;
   	width:auto;
	border: 1px solid #999999;
	border-radius: 10px;
    margin: 2px;
   	padding: 3px 5px 3px 5px;
   	line-height: 20px;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.responsive_font_3 {
  font-size: 3vw;
}

.responsive_font_4 {
  font-size: 4vw;
}

.responsive_font_5 {
  font-size: 5vw;
}

h1,h2,h3,h4 {
	font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif
	margin:0px!important;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	min-width: 90px;
}

/*.col:first-child { margin-left: 0; }

  //COLUMN SETUP  
.col {
	display: block;
	float:left;
}*/


.top_banner {
	position: fixed;
	width: 100%;
	height: 12%;
	min-width: inherit;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	display: block;
	background-color: black;
	color: white;
	visibility: hidden;
}

.banner_text .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

.bottom_pane {
	width: 100%;
	height: 10%;
	opacity: 0.7;
	display: block; 
	color: black;
	background-color: white;
	text-align: center;
}

.bottom_banner {
	position: fixed;
	width: 100%;
	height: 12%;
	min-height: 140px;
	min-width: inherit;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
	display: block;
	color: white;
	background-color: black;
	visibility: hidden;
}

.bottom_banner2 {
	position: fixed;
	width: 100%;
	height: 10%;
	min-width: inherit;
	bottom: 0px;
	left: 0px;
	opacity: 0.7;
	display: block;
	color: white;
	background-color: black;
	visibility: hidden;
}

.fullscreenblock {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.7;
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
  
table {
  width: 100%;
}

tr {
  border-top: 1px solid black;
}

#viewTableContainer {
  visibility: hidden;
  overflow-y: scroll;
  z-index: 1;
}

#mainTableHeader {
  border-top: 0px solid black;
  border-bottom: 2px solid black;
}

#browseFromView {
  margin: 2px;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.banner {
  display: table;
  width: 100%;
  height: 100%;
}

.banner_text {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  font-size: 1.4vmin;
}
.center {
	text-align: center;
}

.border {
  border: solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#notifyDot {
  visibility: hidden;
  padding-left: 1vw;
  margin-left: 3.5vw;
  margin-bottom: 3vh;
}

#mingleText {
  /*margin-top: top: 50%;*/
  /*position: absolute;*/
  text-align: center;
  color: red;
  font-size: 200%;
  font-weight: 600;
}

#mingleIcon {
  z-index: -1;
  position: absolute;
  left: 40%;
  top: 3vh;
}

.height_50 {
  height: 50%;
}
.height_25 {
  height: 25%;
}
.height_100 {
  height: 100%;
}
.red {
  color: red;
}

.dimmed {
  opacity: 0.2;
}

.shortcutButton {
  margin: 1vw;
}

.accept, .ignore {
  /*width: 48%;*/
  margin-left: 3vw;
  text-align: center;
}

#waiting-message {
  z-index: 1;
}

.dialog-message {
  font-family: Courier New;
  width: 80%;
  max-width: 80%;
  max-height: 60%;
  position: absolute;
  top: 20%;
  left: 10%;
  margin: 20px;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.editor {
	position:fixed!important;
	bottom:10px;
	right:10px;
	height:200px;
	width:50%;
	resize: both;
}

.message {
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     width: 100%;
     border: 1px solid;
     color: #fff;
     padding: 15px;
     position: fixed;
     _position: absolute;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     animation: animate-bg 5s linear infinite;
     z-index:2;
}

.info {
     background-color: #4ea5cd;
     border-color: #3b8eb5;
}

.error {
     background-color: #de4343;
     border-color: #c43d3d;
}


.error {
     background-color: #FF3399;
     border-color: #99004C;
}

.warning {
     background-color: #eaaf51;
     border-color: #d99a36;
}

.success {
     background-color: #61b832;
     border-color: #55a12c;
}

.mingleRequest {
  background-color: #d35400;
  border-color: #dc7633
}

.message h3 {
     margin: 0 0 5px 0;
}

.message p {
     margin: 0;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

/*  GO FULL WIDTH BELOW 480 PIXELS
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
*/

/*
#availables {
background-color: white;
color: black;
height: auto;
}

#unavailables {
background-color: white;
height: auto;
height: 100%;
border: 2px grey dashed;
}*/
